<section class="py-5 text-center container">

  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngIf="this.videolistModel">

        <div class="col" *ngFor="let video of videolistModel">
          <div class="card shadow-sm">
              <!-- <iframe width="100%" height="225" src="https://www.youtube.com/embed/uPqK6MAISTs?si=ll7ZI8nMrbjHOJ7z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe> -->
              <iframe width="100%" height="225" [src]="getvideoLink(video.VideoID)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
            <div class="card-body">
              <p class="card-text">{{video.FullDescription}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <small class="text-body-secondary">{{video.Duration}} דק'</small>
              </div>
            </div>
          </div>
        </div>

        <!-- quote card-->
        <div class="col">
          <div class="card p-3">
              <figure class="p-3 mb-0">
                <blockquote class="blockquote">
                  <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-body-secondary">
                  Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
              </figure>
            </div>
        </div>

      </div>
    </div>
  </div>