<section class="py-5 text-center container">

  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngIf="this.videolistRecords">
        
        <!-- title -->
        <h3 class="display-7 link-body-emphasis mb-1">{{this.title}}</h3>
          
        <!-- video-->
          <div class="col" *ngFor="let video of videolistRecords">
            <div class="card shadow-sm">
              <iframe width="100%" height="225" [src]="getVideoLink(video.VideoID)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
              <div class="card-body">
                <p class="card-text" [(ngModel)]="video.FullDescription" ngDefaultControl >{{video.FullDescription}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  </div>
                  <small class="text-body-secondary" [(ngModel)]="video.Duration" ngDefaultControl>{{video.Duration}} דק'</small>
                </div>
              </div>
            </div>
          </div>
          
          <!--spinner  -->
          <div style="position: relative">
            <ngx-spinner color = "lightblue" type="ball-scale-multiple"><p style="color: lightblue" > לנשום... </p></ngx-spinner>
          </div>
          
        <!-- quote card-->
        <div class="col">
          <div class="card p-3">
              <figure class="p-3 mb-0">
                <blockquote class="blockquote">
                  <p>כל אדם ביסודו הוא יחיד ומיוחד ואם לא בעיני כל... הרי בעיני האדם שאוהב אותו.</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-body-secondary">
                   <cite title="Source Title">ויקטור פרנקל</cite>, 1985
                </figcaption>
              </figure>
            </div>
        </div>

      </div>
    </div>
  </div>